!!! 5
html
  head
    title Stress
    link(rel='stylesheet/less', type='text/css', href='style.less')
    script(type='text/javascript', src='vendor/jquery-1.8.0.js')
    script(type='text/javascript', src='vendor/less-1.3.0.js')
    script(type='text/javascript', src='vendor/coffee-script.js')
    script(type='text/javascript', src='vendor/underscore-1.3.3.js')
    //- script(type='text/javascript', src='vendor/jquery-ui-1.8.23.custom/js/jquery-ui-1.8.23.custom.min.js')
    //- script(type='text/javascript', src='vendor/jquery.ui.touch-punch.js')
    script(type='text/coffeescript', src='stress.coffee')
  body
    #container
      .indicator
      #row1.row
        .g-entity.enemy-hand
        .g-entity.enemy-hand
        .g-entity.enemy-hand
        .g-entity.enemy-hand
        .g-entity.enemy-hand
        .g-entity.enemy-hand
      #row2.row
      #row3.row
      #row4.row
        .g-entity.client-hand
        .g-entity.client-hand
        .g-entity.client-hand
        .g-entity.client-hand
        .g-entity.client-hand
        .g-entity.client-hand
